{
  "presets": [
    "es2015",
    "stage-2"
  ],
  "comments": true,
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "syntax-async-functions",
        "transform-regenerator",
        "istanbul",
        "rewire"
      ]
    }
  }
}
